@page
@model IssueTrackingSystem.Pages.Projects.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="pagetitle">
    <h1>Create</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">Dashboard</a></li>
            <li class="breadcrumb-item">Projects</li>
            <li class="breadcrumb-item active">Create</li>    
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="container">
    <div class="card">

        <div class="card-body">
            <h2 class="card-title d-inline-block">Create New Project</h2>

            <div class="row">
                <div class="col">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-3">
                            <label asp-for="Project.ProjectName" class="control-label"></label>
                            <input asp-for="Project.ProjectName" class="form-control" />
                            <span asp-validation-for="Project.ProjectName" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Project.StartDate" class="control-label"></label>
                            <input asp-for="Project.StartDate" class="form-control" />
                            <span asp-validation-for="Project.StartDate" class="text-danger"></span>
                        </div>                   
                        <div class="form-group mb-3">
                            <label asp-for="Project.TargetEndDate" class="control-label"></label>
                            <input asp-for="Project.TargetEndDate" class="form-control" />
                            <span asp-validation-for="Project.TargetEndDate" class="text-danger"></span>
                        </div>
                      <div class="form-group mb-3">
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-plus-lg" style="font-weight: bold;"></i> Create Project
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
