@page
@model IssueTrackingSystem.Pages.Projects.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="card">

        <div class="card-body">
            <h1 class="card-title d-inline-block">Edit Project</h1>

            <div class="row">
                <div class="col-md-4">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Project.ProjectId" />
                        <div class="form-group mb-3">
                            <label asp-for="Project.ProjectName" class="control-label"></label>
                            <input asp-for="Project.ProjectName" class="form-control" />
                            <span asp-validation-for="Project.ProjectName" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Project.StartDate" class="control-label"></label>
                            <input asp-for="Project.StartDate" class="form-control" />
                            <span asp-validation-for="Project.StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Project.EndDate" class="control-label"></label>
                            <input asp-for="Project.EndDate" class="form-control" />
                            <span asp-validation-for="Project.EndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Project.TargetEndDate" class="control-label"></label>
                            <input asp-for="Project.TargetEndDate" class="form-control" />
                            <span asp-validation-for="Project.TargetEndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-plus-lg" style="font-weight: bold;"></i> Edit Project
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
