@page
@model IssueTrackingSystem.Pages.Roles.IndexModel
@{
}

@*<form method="post" asp-action="OnPostAddRoleAsync" >
    <div class="input-group">
        <input name="roleName" roleclass="form-control w-25">
        <span class="input-group-btn">
            <button class="btn btn-primary">Add New Role</button>
        </span>
    </div>
</form>*@

<div class="pagetitle">
    <h1>Create</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Roles</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<table class="table table-striped" id="roleTable">
    <thead>
        <tr>
            <th>
                Role
            </th>
            <th>
                Id
            </th>
            <th style="width:10%">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.Role)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => role.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => role.Id)
                </td>
                <td>
                    <div class="dropdown">
                                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Actions
                                    </button>
                                    <ul class="dropdown-menu animated--grow-in" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" asp-page="/UserRoles/Index" asp-route-id="@role.Id">Edit</a></li>
                                        <form class="d-inline">
                                            <li><a class="dropdown-item"> Delete</a></li>
                                        </form>
                                    </ul>
                    
                    
                 
                            @*@if (role.Name != "SuperAdmin")
                            {
                                <a style='margin-right:16px' asp-controller="Permission" asp-action="Index" asp-route-roleId="@role.Id" class="dropdown-item">
                                    <i class="fas fa-wrench"></i> Manage Permissions
                                </a>
                            }*@
                        
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>