@page
@model IssueTrackingSystem.Pages.Roles.IndexModel
@{
}

@*<form method="post" asp-action="OnPostAddRoleAsync" >
    <div class="input-group">
        <input name="roleName" roleclass="form-control w-25">
        <span class="input-group-btn">
            <button class="btn btn-primary">Add New Role</button>
        </span>
    </div>
</form>*@

<div class="pagetitle">
    <h1>Roles</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Dashboard/Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Roles</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<div class="container">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover" id="roleTable">
                <thead>
                    <tr>
                        <th>
                            Role
                        </th>
                        <th>
                            Id
                        </th>
            
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model.Role)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => role.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => role.Id)
                            </td>
                
                   
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>