@page
@model IssueTrackingSystem.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Users";
}

<div class="card">
   
  <div class="card-body">
     @*div with classes to show card-title and create new link on same line with the link being on right side of card*@
     <div class="align-middle">
        
        <h1 class="card-title d-inline-block">Users</h1>
          
     </div> 
        <div class="table-responsive">
            <table class="table " id="userTable">
                <thead>
                    <tr>
                        <th >
                            Actions
                        </th>
                        <th>
                            User
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Id
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.User)
                    {
                        <tr>
                            <td>              
                                @*add dropdown button with link to Roles Index page*@
                                <div class="dropdown">
                                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Actions
                                    </button>
                                    <ul class="dropdown-menu animated--grow-in" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" asp-page="/UserRoles/Index" asp-route-userId="@user.Id">Manage Roles</a></li>
                                        
                                    </ul>
                                </div>
                            </td>
               
                            <td>
                                @Html.DisplayFor(modelItem => user.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => user.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => user.Id)
                            </td>
              
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
            <script>
                $(document).ready(function () {
                    $('#userTable').DataTable();
                });
            </script>
}
